.container {
  width: 100%; padding: 0 2rem; position: relative; position: relative;
  display: flex; justify-content: space-between; align-items: center;
}
.wrapper { width: 60%; position: relative; margin: 0 auto;}
.btn { display: flex; justify-content: center; align-items: center; margin-left: 20px; border: none; position: absolute; right: 0; top: 0; height: 100%;
  border: .5rem solid transparent; border-radius: 1rem; flex: 1; font-size: 1.5rem; font-weight: bold; background: none; padding: 0 1rem; outline: none;
  cursor: pointer; transition: all .2s;
}

header { font-size: 1rem; color: #000; }
.input {
  border: .5rem solid #000; border-radius: 1rem; flex: 1; 
  height: 4rem; width: 100%; background: #fff; padding: .25rem 1.5rem; font-size: 2rem; outline: none;
}