<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IOS提示模板</title>
  <style>
    .container {
      background: #0e0e0e; position: fixed; top: 0; right: 0; bottom: 0; left: 0; text-align: center; color: #fff;
      display: flex; justify-content: center; align-items: center; flex-direction: column;
    }
    img { max-width: 100%; }
  </style>
</head>
<body>
  <!-- ios提示模板 -->
  <div class="container">
    <img src="/images/ios.gif" />
    <h1>WECHAT REDIRECT DEMO</h1>
    <p>IOS提示模板</p>
  </div>
</body>
</html>